    .element__image {
        max-width: 282px;
        max-height: 282px;
        border-radius: 10px 10px 0 0;
    }
    
    .element {
        display: flex;
        flex-direction: column;
    }
    
    .element__title-area {
        background-color: #fff;
        color: black;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: row;
        padding: 25px 15px 25px 21px;
        align-items: center;
    }
    
    .element__likeBtn {
        background-image: url(../images/icons/heart_icon.svg);
        width: 21px;
        height: 19px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        border: none;
        flex-shrink: 0;
        background-size: 19px;
        padding: 0;
    }
    
    .element__likeBtn:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.3s;
    }
    
    .element__title {
        text-overflow: ellipsis;
        flex-grow: 1;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
    }
    
    @media screen and (max-width: 904px) {
        .element__image {
            width: 100%;
            max-width: none;
        }
    }