.elements {
    color: #fff;
    width: 880px;
}

.elements__ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 21px;
    column-gap: 17px;
}

.elements__ul>* {
    flex: 0 0 30%;
}
@media screen and (max-width: 904px) {
    .elements__ul>*{
        flex: none;
    }
    .elements__ul{
        flex-direction: none;
}
.elements{
    width: 100%;
}
 }

@media screen and (max-width: 565px) {
    .elements__ul>*{
        flex: none;
    }
 
.elements{
    width: 100%;
}


}