.elements {
    color: #fff;
    max-width: 880px;
    margin-right: 30px;
}

.elements__ul {
    row-gap: 21px;
    column-gap: 87px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
}

@media screen and (max-width: 904px) {
    .elements__ul>* {
        flex: none;
    }
    .elements__ul {
        flex-direction: none;
    }
    .elements {
        width: 100%;
    }
}

@media screen and (max-width: 565px) {
    .elements__ul>* {
        flex: none;
    }
    .elements {
        margin: 36px 19px 19px 0;
    }
}