.header {
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 41px;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.header__logo {
    width: 173px;
    padding-top: 45px;
    padding-left: 3vw;
}

@media screen and (max-width: 565px) {
    .header {
        padding-bottom: 41px;
    }
    .header__logo {
        position: relative;
        padding-top: 30px;
        padding-left: 27px;
        width: 126px;
    }
}