    .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        visibility:hidden;
        justify-content: center;
        transition: all 0.35s ease-in-out;
        align-items: center;
        display: flex;
        opacity: 0;
    }
  
    
    .popup__image {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    
    .popup__image-prev-container {
        color: white;
        box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
        margin: 0 auto;
        font-family: 'Inter', sans-serif;
        padding: 0;
    }
    
    .popup__container {
        width: 430px;
        color: black;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
        border-radius: 10px;
        margin: 0 auto;
        position: relative;
        font-family: 'Inter', sans-serif;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding: 36px;
        box-sizing: border-box;
      
       
    }

    
    .popup_active {
        visibility: visible;
        opacity: 1;
    }
    
    .popup__title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 54px;
    }
  
    
    .popup__close-btn {
        background-image: url(../images/icons/closeIcon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        width: 33px;
        height: 33px;
        position: absolute;
        background-size: 33px;
        border: none;
        top: -38px;
        right: -36px;
    }
    
    .popup__inputs-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .popup__submit-button {
        background: #000000;
        color: #fff;
        border-radius: 2px;
        height: 50.15px;
        border: none;
        padding: 0;
        font-size: 18px;
        line-height: 22px;
    }
    
    .popup__submit-button:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s;
    }
    
    
    .popup__inputs {
        border-radius: 0;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        line-height: 17px;
        font-style: normal;
        border: none #ccc;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    .popup__inputs_type_description {
        margin-bottom: 48px;
    }
    
    .popup__close-btn:hover {
        cursor: pointer;
        opacity: 0.6;
        transition: 0.3s;
    }
    
    .popup__close-button-image-prev{
        background-image: url(../images/icons/closeIcon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        width: 40px;
        height: 40px;
        float: right;
        left: 38px;
        position: relative;
        top: 0;
    }
    
    @media screen and (max-width: 565px) {
        .popup__inputs {
            max-width: 238px;
        }
        .popup__title {
            font-size: 18px;
            line-height: 22px;
        }
        .popup__container {
            max-width: 282px;
            padding: 22px;
            margin: 19px;
        }
        .popup__close-btn {
            top: -30px;
            background-size: contain;
            width: 20px;
            height: 20px;
            right: 0px;
        }
        .popup__submit-button {
            font-size: 14px;
            line-height: 17px;
        }
        .popup__image {
            max-width: 240px;
            object-fit: cover;
            height: 299px;
        }
        .popup__image-prev-container {
            padding: 0;
            margin: 0 40px;
            
        }
    }